.table-header {
    font-size: 15px;
    background-color: rgb(172, 171, 171);
}

.table-body {
    font-size: 12px;
}

.pager {
    text-align: center;
    font-size: 15px;
    align-content: center;
    align-items: center;
}