.table-header {
    font-size: 15px;
    background-color: rgb(172, 171, 171);
}

.table-body {
    font-size: 14px;
}

.customSelect {
    background-color: #ebebeb;
    border-radius: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 50px;
}